
@font-face {
    font-family: 'Titillium Web';
    src: url('TitilliumWeb-Regular.eot');
    src: url('TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('TitilliumWeb-Regular.woff2') format('woff2'),
        url('TitilliumWeb-Regular.woff') format('woff'),
        url('TitilliumWeb-Regular.ttf') format('truetype'),
        url('TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('TitilliumWeb-SemiBold.eot');
    src: url('TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('TitilliumWeb-SemiBold.woff2') format('woff2'),
        url('TitilliumWeb-SemiBold.woff') format('woff'),
        url('TitilliumWeb-SemiBold.ttf') format('truetype'),
        url('TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}