page-home {
    .card-block .card p {
         color: #222222; 
    }
    span.no_result {
        text-align: center;
        display: block;
        padding-top: 15px;
        font-size: 18px;
    }
}
